#myDiv {
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: lightgray;
    color: black;
    border: 1px solid #000;
    margin: 20px auto;
    cursor: pointer;
}
